.cncx {
   font-size: 2em; 
   text-align: center;
   padding: 38px;
   color: cornsilk;
   background-color: rgb(91, 132, 247);
}

.Fst {
   text-shadow: 5px 5px  #181616;
}

.Snd {
   text-shadow: 2px 2px 2px  #181616;
}
