.headContainer{
    padding: 0.01em 16px;
    display: flex;
}
.logo{
    font-size: 37px;
    text-decoration: none;
    color: salmon;
    font-family: 'Mitr', sans-serif;
    padding: 10px;
    text-shadow: 4px 2px 7px #000000;
}
.logo:hover{
    color: seagreen;
    text-shadow: 4px 2px 7px #000000;
    text-decoration: none;
}
.push{
    margin-left: auto;
}
.center{
    text-align: center;
}
.colorfulltext{
    font-size: 37px;
    text-decoration: none;
    color: salmon;
    font-family: 'Mitr', sans-serif;
    padding: 10px;
    text-shadow: 4px 2px 7px #55555547 ;
}
.inner{
    flex-grow: 1;
    /* border: 1px solid salmon; */
}
.familyimage{
    border-radius: 1000px;
    width: 300px;
}
a{text-decoration: none;}
.cstDiv{
}
a.cstDiv:hover{
    text-decoration: none;
    background-color:gray;
    color:white;
    cursor:pointer;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    }
    ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    }
    ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
    }
    ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    }
    ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.profileImage{
    border-radius: 1000px;
    width: 500px;
}
h1.center {
    font-size: 2em;
}
.slogan.colorfulltext {
    padding: 29px 0;
    display: flex;
}
.wordCarousel {
    width: 50%;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 100;
    color: salmon;
    display: flex;
}
.wordCarousel:first-child{
    align-content: flex-end;
    padding-left: 30%;
    
}
.wordCarousel div {
    overflow: hidden;
    position: relative;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
}
.wordCarousel div li {
    color: #ccc;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 {
    font-family: 'Mitr', sans-serif; 
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }